*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #14002E;
}
.list {
    margin: 100px 0 ;
    padding: 0 100px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px;
    padding-bottom: 100px;
    padding-top: 100px;
}
.box {
    display: flex;
     flex-direction: column;
     align-items: center;
     gap: 20px;
     padding: 20px;
     border-radius: 20px;
     background: gray;
     color: whitesmoke;
}